.reviewPart {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10vh 0 20vh;
  gap: 5%;

  .singleReview {
    width: 468px;
    min-height: 611px;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    background: #D9D9D9;
  }
}

@media only screen and (max-width: 1000px) {
  .reviewPart{
    flex-wrap: wrap;
    .singleReview{
      margin-bottom: 3vh;
    }
  }
}