.order {
  max-width: 708px;
  width: 100%;
  margin: 10vh auto 5vh;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  background: #D9D9D9;

  & > p {
    font-size: 36px;
    font-weight: 400;
  }

  .goods {
    margin: 1vh 0;
    width: 100%;

    & > div {
      display: flex;
      gap: 10px;
    }
  }

  .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > input {
      width: 55%;
      height: 68px;
      background: #222222;
      color: #F0F0F0;
      font-size: 36px;
      border-radius: 15px;
      padding-left: 25px;
    }

    & > button {
      width: 43%;
      height: 68px;
      background: #222222;
      color: #F0F0F0;
      font-size: 36px;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 450px) {
  .contact{
    flex-wrap: wrap;
    & > input {
      width: 100%!important;
      margin-bottom: 2vh;
    }

    & > button {
      width: 100%!important;
    }
  }
}